{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
  <div class="voting container">
    <h3>{% trans "Importar Censo" %}</h3>
    <p>{% trans "El archivo debe ser de Excel (.xlsx)" %}</p>
    <p>
      {% trans "En la primera columna debe aparecer el ID de la votación" %} <b>(voting_id)</b>,
      {% trans "y en la segunda el ID del votante"%} <b>(voter_id)</b>.
    </p>
    <p>{% trans "La primera fila del archivo será ignorada (Puedes colocar ahi los encabezados)." %}</p>
    <hr />

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="census_file" accept=".xlsx" />
      <button class="btn btn-primary btn-sm" type="submit">{% trans "Importar Censos" %}</button>
    </form>
  </div>

  {% for message in messages %}
    <div class="voting container alert
      {% if 'success' in message.tags %}alert-success
      {% elif 'error' in message.tags %}alert-danger{% endif %}">
        {{ message }}
    </div>
  {% endfor %}
{% endblock %}
